* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
}



/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA EQUIPE         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/



.body_Equipe {
    background-color: #404B79;
}

.top_orion {
    height: 70px;
    width: 97%;
    background-color: #4c5274;
    border: 3px solid #1E2B58;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    margin: 1%;
}

.top_orion02 {
    border: 2px solid #8496a4;
    width: 96%;
    height: 222px;
    margin: 10% 2%;
    border-radius: 20px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1E2B58;
}

.main_Equipe {
    border: 2px solid #8496a4;
    width: 90%;
    height: 4000px;
    margin: 0% 4.8%;
    border-radius: 20px;
    background-color: #4c5274;
}

.cxx00 {
    border: 2px solid #8496a4;
    margin: 7% 6.5%;
    width: 87%;
    height: 400px;
    border-radius: 20px;
    background-color: #404363;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

.box44 {
    width: 30%;
    height: 300px;
    margin: 3% 10%;
}

.foto_psp {
    border-radius: 120px;
}

.manu {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.laura {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.lucas {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.giovanna {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.pietro {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.vinicius {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.kassiany {
    width: 100%;
    height: 100%;
    border-radius: 120px;
}

.caixa88 {
    margin: 2% 14%;
    width: 72%;
    height: 100px;
}

.titulo_equipe {
    font-size: 60px;
    color: #000000;
    text-align: center;
    margin: 8% 0%;
}

.name {
    text-align: center;
    font-size: 45px;
}

.texto_programa {
    width: 100%;
    height: 222px;

}

.texto_programa {
    font-size: 20px;
    margin: 3%;
}



/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA FOTOS         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/




.body_fotos {
    background-color: #251821;
}

.header_ft {
    background-color: #d3dba8;
    width: auto;
    height: 30px;
    border: 2px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding-left: 60px;
    text-decoration: none;
}

.sec_ft {
    border: 2px solid #404b79;
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px;
    background-image: url(../images/s.jpg);
    background-attachment: fixed;
}

.cx0000 {
    margin: auto 10px;
}

.a_fotos {
    text-decoration: none;
}









/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA INICIO         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/


.body_inicio {
    background-color: #000000;
}


.header_inicio{
    background-color: #1D2C59;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header_inicio nav{
    width: 100%;
    display: flex;
    
}
.header_inicio nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
    text-decoration: none;
}
.header_inicio nav ul li{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.header_inicio nav ul li a{
    color: #fff;
    text-decoration: none;
}
.header_inicio nav ul li a:hover{
    color: #A2DEEB
}
.main_inicio {
    border: 3px solid black;
    width: 99%;
    min-height: 800px;
    height: auto;
    position: absolute;
    background-color: #465083;
    background-image: url(../images/uaiso.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: fill;
}

.laura1{
    width: 70%;
    min-height: 500px;
    height: auto;
    border: 1px solid #000000;
    background-color: #d9ddee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 5px auto;
}
.laura1 p{
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}
.laura41{
    width: 70%;
    
    height: auto;
    
    background-color: #d9ddee;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px auto;
}
.laura41 p{
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}
.laura2{
    width: 70%;
    min-height: 300px;
    height: auto;
    border: 1px solid #000000;
    background-color: #d9ddee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 400px;
}
.laura2 p{
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}
.laura87{
    width: 70%;
    min-height: 300px;
    height: auto;
    border: 1px solid #000000;
    background-color: #d9ddee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 5px auto;
}
.laura87 div{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.laura87 p{
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}
.slideshow-container {
    width: 70%;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: #00000060;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }









/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA LOCALIZAÇÃO         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/



.body_loc {
    background-color: aliceblue;
}

.nav_loc {
    background-color: #404b74;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;

}

.main_loc {
    width: 95%;
    height: 500px;
    margin: 5% 2.4%;
    display: flex;
    flex-direction: row;

}

.sec_loc {
    background-color: #905a4d91;
    height: 200px;
    width: 20%;
    margin: 7% 8%;
    border-radius: 10px;
    text-align: center;
}

.cx001 {
    margin: 8%;
}

.cx002 {
    margin: 8%;

}

.cx003 {
    margin: 8%;
}

.txt01 {
    margin: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}








/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA SOBRE         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/


.header_sobre {
    border: 3px solid #a3e2ef;
    width: 96%;
    height: 222px;
    margin: 3% 2%;
    border-radius: 20px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1E2B58;
}

.cxNew {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body_sobre {
    background-color: #404B79;
}

.main_sobre {
    border: 3px solid #a3e2ef;
    width: 93%;
    height: 800px;
    margin: 5% 3%;
    gap: 20px;
    border-radius: 20px;
}

button {
    color: #404B79;
    background: #fff;
    transition: background 1s;
    width: 100%;
    margin: 2%;
}

button:hover,
button:focus {
    background: #3f4fe4;
}

#sobre {
    background-color: #a3e2ef;
    width: 90%;
    height: 200px;
    margin: 3% 5%;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.divsobre01 {
    width: 70%;
    height: 200px;
}

.divsobre02 {
    width: 20%;
    height: 200px;
    margin: 0% 4%;
}

.nebulosa01 {
    width: 100%;
    height: 200px;
}

#importante {
    background-color: #a3e2ef;
    width: 90%;
    height: 200px;
    margin: 3% 5%;
    text-align: center;
    border-radius: 20px;
}

#extras {
    background-color: #a3e2ef;
    width: 90%;
    height: 200px;
    margin: 3% 5%;
    text-align: center;
    border-radius: 20px;
}

.bt001 {
    margin: 1% 3%;
    width: 10%;
    height: 100px;
}








/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/





/*/  - - - - - - - - - - - - - - - - -  - - - - -         PÁGINA TC         - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - -  /*/





/*/ - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  /*/


.body_TC {
    background-color: rgb(77, 77, 77);
}

.main_TC {
    border: 5px solid rgb(128, 25, 25);
    width: 93%;
    height: auto;
    margin: 5% 3%;
    background-color: rgb(216, 191, 145);
    min-height: 1200px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

#PTC {
    font-size: 28px;
    padding: 30px;
    font-family: 'Slabo 27px', serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.TextoCandidato {
    font-size: 50px;
    font-family: 'Ubuntu Condensed', sans-serif;

}

#CandidatoPalavra {
    color: rgb(144, 29, 29);
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#OrionPalavra {
    color: rgb(53, 53, 107);
    font-size: 55px;
    font-family: 'Slabo 27px', serif;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.header_TC {
    height: 70px;
    width: 99%;
    background-color: burlywood;
    border: 3px solid rgb(128, 25, 25);
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    margin: 5px;
}

.buttonTC {
    font-size: 22px;
    margin: 6%;
    display: inline;
    color: rgb(144, 29, 29);
    position: relative;
    top: 30%;
}